@import 'tailwindcss';

main {
  @apply px-4 pb-4 h-full gap-4 flex flex-col items-start;

  * label {
    @apply m-0 p-0;
  }
}

@layer components {
  .debug {
    @apply outline outline-red-500;
  }
}

@theme {
  --color-accent: #0070d7;
  --color-accent-foreground: #fff;
  --color-accent-hover: #0066d6;
  --foreground: #37352F;
}
